<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifespan</title>

     <!--Jquery from cdn-->
     <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

     <!--home page js-->
     <script defer src="skeleton.js"></script>
     <script defer src="homeColorTheme.js"></script>
     <script defer src="home.js"></script>
 
     <!--css-->
     <link rel="stylesheet" href="app.css">
 
     <!--fonts-->
     <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Orbitron:400,600' rel='stylesheet' type='text/css'>
 
     <!--icons-->
     <script src="https://kit.fontawesome.com/ddcc34e64d.js" crossorigin="anonymous"></script>
</head>
<body id="home-body">

    <!--skeleton-->

    <div class="navbar" id="navbar">
        <div id="switch">
            <div id="switch-btn"></div>
            </div>
        <i class="fa-solid fa-bars" id="sidebar-btn"></i>
        <p id="navbar-heading">#Elefant</p>
        <div id="navbar-toggle"></div>
        <div id="navbar-options"></div>
    </div>

    <div class="sidebar">
        <ul id="sidebar-list">
            <li data-path="home">HOME</li>
            <li data-path="about">ABOUT</li>
            <li data-path="ispiration">INSPIRATION</li>
            <li data-path="motivation">MOTIVATION</li>
            <li data-path="updates">UPDATE LOG</li>
            <li data-path="sources">SOURCES</li>
        </ul>
    </div>

    <div class="footer" id="home-footer">
        <p id="footer-text-1">The following ressources were used while building this site</p>
        <div class="footer-ressources">
            <a href="https://jquery.com" id="footer-res1">jQuery</a>
            <a href="https://fontawesome.com" id="footer-res2">Font Awsome</a>
            <a href="https://google.com" id="footer-res3">Google</a>
            <a href="https://google.com" id="footer-res1">EMPTY SLOT 3</a>
            <a href="https://google.com" id="footer-res1">EMPTY SLOT 4</a>
            <a href="https://google.com" id="footer-res1">EMPTY SLOT 5</a>
        </div>

        <p id="footer-text-2">© Felix Hohmann, 2022</p>
    </div>

    <!--/home-->

    <div class="home-timer">
        <div id="home-timer-countup">00:00:00:00</div>
    </div>

    <div class="home-data">
        <div id="home-data-field-banana" class="home-data-field" data-stat="banana" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-banana" class="home-data-stat" data-stat="banana" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-banana" class="home-data-desc" data-stat="banana" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-trees" class="home-data-field" data-stat="trees" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-trees" class="home-data-stat" data-stat="trees" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-trees" class="home-data-desc" data-stat="trees" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div> 

        <div id="home-data-field-animals" class="home-data-field" data-stat="animals" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-animals" class="home-data-stat" data-stat="animals" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-animals" class="home-data-desc" data-stat="animals" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-stars" class="home-data-field" data-stat="stars" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-stars" class="home-data-stat" data-stat="stars" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-stars" class="home-data-desc" data-stat="stars" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-walking" class="home-data-field" data-stat="walking" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-walking" class="home-data-stat" data-stat="walking" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-walking" class="home-data-desc" data-stat="walking" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-lightspeed" class="home-data-field" data-stat="lightspeed" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-lightspeed" class="home-data-stat" data-stat="lightspeed" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-lightspeed" class="home-data-desc" data-stat="lightspeed" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-peopleBorn" class="home-data-field" data-stat="peopleBorn" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-peopleBorn" class="home-data-stat" data-stat="peopleBorn" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-peopleBorn" class="home-data-desc" data-stat="peopleBorn" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div> 

        <div id="home-data-field-peopleDied" class="home-data-field" data-stat="peopleDied" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-peopleDied" class="home-data-stat" data-stat="peopleDied" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-peopleDied" class="home-data-desc" data-stat="peopleDied" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-eartsEnd" class="home-data-field" data-stat="eartsEnd" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-eartsEnd" class="home-data-stat" data-stat="eartsEnd" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-eartsEnd" class="home-data-desc" data-stat="eartsEnd" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-lifetime" class="home-data-field" data-stat="lifetime" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-lifetime" class="home-data-stat" data-stat="lifetime" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-lifetime" class="home-data-desc" data-stat="lifetime" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-houses" class="home-data-field" data-stat="houses" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-houses" class="home-data-stat" data-stat="houses" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-houses" class="home-data-desc" data-stat="houses" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-tweets" class="home-data-field" data-stat="tweets" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-tweets" class="home-data-stat" data-stat="tweets" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-tweets" class="home-data-desc" data-stat="tweets" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div> 

        <div id="home-data-field-youtubeWatches" class="home-data-field" data-stat="youtubeWatches" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-youtubeWatches" class="home-data-stat" data-stat="youtubeWatches" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-youtubeWatches" class="home-data-desc" data-stat="youtubeWatches" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-calls" class="home-data-field" data-stat="calls" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-calls" class="home-data-stat" data-stat="calls" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-calls" class="home-data-desc" data-stat="calls" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-reading" class="home-data-field" data-stat="reading" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-reading" class="home-data-stat" data-stat="reading" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-reading" class="home-data-desc" data-stat="reading" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-x1" class="home-data-field" data-stat="x1" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-x1" class="home-data-stat" data-stat="x1" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-x1" class="home-data-desc" data-stat="x1" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-x2" class="home-data-field" data-stat="x2" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-x2" class="home-data-stat" data-stat="x2" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-x2" class="home-data-desc" data-stat="x2" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div> 

        <div id="home-data-field-x3" class="home-data-field" data-stat="x3" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-x3" class="home-data-stat" data-stat="x3" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-x3" class="home-data-desc" data-stat="x3" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-x4" class="home-data-field" data-stat="x4" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-x4" class="home-data-stat" data-stat="x4" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-x4" class="home-data-desc" data-stat="x4" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div id="home-data-field-x5" class="home-data-field" data-stat="x5" data-source="https://de.wikipedia.org/wiki/Banana">
            <p id="home-data-stat-x5" class="home-data-stat" data-stat="x5" data-source="https://de.wikipedia.org/wiki/Banana">100</p>
            <div id="home-data-desc-x5" class="home-data-desc" data-stat="x5" data-source="https://de.wikipedia.org/wiki/Banana">Bananas have been eaten this year. That is amazing! I can simply not belive thet this is to be the case...</div>
        </div>

        <div class="home-data-text">Find the source of your favourite fact by clicking on it!</div>
    </div>
    
</body>
</html>